[submodule "jmpress.js"]
	path = jmpress.js
	url = https://github.com/jmpressjs/jmpress.js.git
[submodule "inc-clojure-brush"]
	path = inc-clojure-brush
	url = https://github.com/brehaut/inc-clojure-brush.git
[submodule "game-of-life"]
	path = game-of-life
	url = https://github.com/sw1nn/ldnclj-dojo-team-5-game-of-life.git
[submodule "Scriptany"]
	path = Scriptany
	url = https://github.com/kanaka/Scriptany.git
