/* The inner console element. */
.jqconsole {
    background: #f0f0e8;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
/* The cursor. */
.jqconsole-cursor {
    font-weight: normal;
    font-family:monospace;
    background-color: #000;
}
.console {
    position: relative;
    height: 400px;
    width: 600px;
    bottom: 50px;
    right: 50px;
    background: #fbfbf8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #d5ceb4;
}
